<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <style>
        body {
            text-align: center;
        }
        
        label {
            margin: 20px;
        }
        
        .input {
            margin-top: 20px;
        }
        
        p {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Log-In Account</h1>
    <form action="login" method="post">
        <div class="input">
            <label for="username">Gmail:<input name="username" type="email" required/></label><br/>
        </div>
        <div class="input">
            <label for="password">Password :<input name="password" type="password" required/> </label><br />
            <p>
                <%= name %>
            </p>
        </div>
        <div class="input">
            <button type="submit">Submit</button>
        </div>
    </form>
    <form action="/" method="get">
        <div>If you do not have account please - <button>Register</button></div>
    </form>
</body>

</html>